!*.*
!*.py
*.pyc
*.tee
temp*.txt

!data/hmm-backup/hmm-ecoliR7.3-last.txt
!data/hmm-backup/hmm-ecoliR7.3-graphmap.txt
data/reads*/
# data/reference/
# data/mutated-reference/
data/*reference*/
data/out/
data/hmm/
data/backup/
data/amplicons-f1000/
data/nmeth/
data/in/
tools/
temp/
jobTree/
jobs/
src/*.pyc

!.gitignore
!README.md
!LICENSE
packs/*
!packs/mutatrix.tar.gz

# !src/fig3cd.py

# !data/amplicons-f1000/reads/reads_all-f1000.fastq
# !data/amplicons-f1000/reference/ref_chr6_chr22-hg19_v38.fa

