!*.*
!*.py
*.pyc
*.tee

!data/hmm-backup/hmm-ecoliR7.3-last.txt
!data/hmm-backup/hmm-ecoliR7.3-graphmap.txt
data/reads*/
data/reference/
data/mutated-reference/
data/out/
data/hmm/
data/backup/
tools/
temp/
jobTree/
jobs/
src/*.pyc

!.gitignore
!README.md
!LICENSE
# !src/fig3cd.py
